html {
  background-color: darkgray;
  padding-bottom: 5em;
}

main {
  background-color: whitesmoke;
}

header>div {
  text-align: center;
  left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 60px;
}

span {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

header>img {
  vertical-align: middle;
}

a {
  padding: 3.2em;
  position: relative;
  padding-bottom: 50%;
}

main>div:first-child {
  text-align: center;
}

main>div:nth-child(2) {
  text-align: center;
}

img {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

div:nth-last-child(2){
text-align: center;
}

div > div{
  padding-top: 15px;
  display: inline-block;
  width: 480px;
  height: 340px;
overflow: scroll;  
vertical-align: top;
}
h1, p{

  text-align: left;
}
button{
  color: white;
  background-color: black;
  height: 60px;
  width: 200px;
  position: absolute;
  bottom: -650px;
  right: 385px;
  font-size: 16px;
}